{% load static %}
<html>

<head>
    <meta charset="utf-8" />
    <title>知识管理系统-登录</title>
    <meta name="author" content="DeathGhost" />

    <link rel="stylesheet" type="text/css" href="{% static 'user/css/style.css' %}" />
    <style>
        body {
            height: 100%;
            background: #16a085;
            overflow: hidden;
        }

        canvas {
            z-index: -1;
            position: absolute;
        }
    </style>

    <script src="{% static 'user/js/jquery.js' %}"></script>
    <script src="{% static 'user/js/verificationNumbers.js' %}"></script>
    <script src="{% static 'user/js/Particleground.js' %}"></script>

    <script>
        $(document).ready(function () {
            //粒子背景特效
            $('body').particleground({
                dotColor: '#5cbdaa',
                lineColor: '#5cbdaa'
            });
            //验证码
            createCode();
            //测试提交，对接程序删除即可
            $(".submit_btn").click(function () {
                location.href = "javascrpt:;" /*tpa=http://***index.html*/ ;
            });
        });
    </script>
</head>

<body>
    <dl class="admin_login">
        <dt>
            <strong>知识管理系统</strong>
            <em>用户登录</em>
        </dt>
        <form method="post" action="">
        <dd class="emi_icon">
            <input type="text"  value = "katherine" name = "username" placeholder="username" class="login_txtbx" />
        </dd>
        <dd class="emi_icon">
            <input type="password" value = "heaven.hell" name = "password" placeholder="password" class="login_txtbx" />
        </dd>
        
        <dd>
            <input type="submit" value="立即登陆" class="submit_btn" />
        </dd>
        </form>
        <dd>
            <p><a href="/login/signup" >用户注册</a></p>
            
        </dd>
    </dl>
</body>

</html>